body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  
  body * {
    border-radius: 10px;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 250px;
      flex-direction: column;

    }
    .display{ 
     color: white;
     display: flex;
    
     width: 440px;
     height: 120px;
     justify-content: center;
     align-items: center;
     font-size: 80px;
     font-weight: bold;
     font-family: 'Poppins', sans-serif;
    }
  body{
 background-color: #202020;
}

.btns button{
    width: 160px;
    margin-top: 40px;
    height: 40px;
    border-style: none;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    transition: .2s linear;
    margin-right: 10px ;

}



button:hover{
    background: white;
    color: #202020;
    transition: .2s linear;
}

  #hour::after,
  #min::after,
  #sec::after {
    content: ": ";
  }