@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Kumbh+Sans:wght@700&family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Josefin+Sans:ital,wght@1,500&family=Kumbh+Sans:wght@700&family=Mochiy+Pop+One&display=swap');
body {
    background: #202020;
    color: white;
}
button {
    width: 100px;
    height: 30px;
    border-style: none;
    border: 1px solid white;
    border-radius: 20px;
    background: transparent;
    transition: .3s linear;
    background: #202020;
    color: white;
    cursor: pointer;
    outline: none;
}
button:hover{
    background-color: white;
    color:#202020;
    transition: .5s linear;
}

#stopwatch {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -55%);
}
#buttons {
    position: absolute;
    top: 55%;
    left: 48.4%;
    transform: translate(-51.6%, -45%);
}
#buttons li {
    display: inline;
    padding-left: 10px;
}